<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body class="index-body">
        <%- include('../partials/nav.ejs') %>

        <main role="main">

            <%# Big Header %>

            <div class="jumbotron">
                <div class="container">
                    <h3 class="display-3">Caregivers Network</h3>
                    <p>Caregivers Network is a resource for the children of aging parents.</p>

                    <!-- <p><a style="background-color: #ff6b6b;" class="btn btn-primary btn-lg btn-outline-light" href="#" role="button">Learn more &raquo;</a></p> -->

                </div>
            </div>

            <%# Container for Caregiver listing %>

            <div class="container">
                <div class="row">

                <%# List of Caregivers %>

                <% for (let i = 0; i < careGivers.length; i++) { %>
                    <div class="col-md-4">
                        <h5><%= careGivers[i].name %></h5>
                        <p class="text-truncate"><%= careGivers[i].description %></p>
                        <p><a style="background-color: #ff6b6b;" class="btn btn-outline-light btn-sm" href="/caregivers/<%= careGivers[i].id %>" role="button">View details &raquo;</a></p>
                    </div>
                <% } %>
                <hr>
            </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
