<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body class="index-body">
        <%- include('../partials/nav.ejs') %>

        <main role="main">

            <%# Big Header %>

            <div class="jumbotron">
                <div class="container">
                    <h3 class="display-3">Caregivers Network</h3>
                    <p>Caregivers Network is a resource for the children of aging parents.</p>

                    <!-- <p><a style="background-color: #94b9af;" class="btn btn-primary btn-lg btn-outline-light" href="#" role="button">Learn more &raquo;</a></p> -->

                </div>
            </div>

            <%# Container for Caregiver listing %>

            <div class="container">

                <%# List of Caregivers %>

                <% for (let cg of careGivers) { %>
                    <div class="card caregiver-card">
                        <h5 class="card-header"><%= cg.name %></h5>
                        <div class="card-body">
                            <p class="card-text text-truncate"><%= cg.description %></p>
                            <a href="/caregivers/<%= cg.id %>" class="btn btn-outline-light btn-sm primary-theme">View details &raquo;</a>
                        </div>
                    </div>

                <% } %>
                <hr>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
