<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body class="page-body">
        <%- include('../partials/nav.ejs') %>

        <div class="container">
            <h3><%= careGiver.name %></h3>
            <p><%= careGiver.description %></p>
            <p>Services:
                <% for (let cg of careGiver.services) { %>
                    <%= cg %>,
                <% } %>
            <br>
            <img src="/img/316-arrow-up-right2.svg" height="15" widht="15"> <a href="<%= careGiver.webSite %>">Website</a> <img src="/img/070-envelop.svg" height="15" widht="15"> <a href="mailto:<%= careGiver.email %>"><%= careGiver.email %></a> <img src="/img/067-phone.svg" height="15" widht="15"> <%= careGiver.phone %></p>
            <div class="btn-group" role="group">
                <a href="/caregivers/<%= careGiver.id %>/edit">
                    <button type="button" class="btn btn-outline-light primary-theme">Edit</button>
                </a>
                <form action="/caregivers/<%=careGiver.id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-light primary-theme">Delete</button>
                </form>
                <a href="/caregivers">
                    <button type="button" class="btn btn-outline-light primary-theme">Back</button>
                </a>
            </div>
            <hr>
        </div>
        <div class="container">
            <a href="/caregivers/<%= careGiver.id %>/review">
                <button type="submit" class="btn btn-secondary secondary-theme btn-outline-light">Start your review of <%= careGiver.name %></button>
            </a>
            <h4 class="reviews">Current Reviews</h4>
            <div class="row">
                <% for (let review of careGiver.reviews) { %>
                    <div class="col-sm-6 review-card">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text"><%= review.rating %></p>
                                <p class="card-text">Posted by: <%= review.postedBy %></p>
                                <p class="card-text"><%= review.text %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
